# DataScienceEcosystem.ipynb

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List Development environment open source tools used in Data Science

#### Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia

#### Some of the commonly used libraries used by Data Scientists include:
- pandas
- numpy
- scikit-learn
- matplotlib
- seaborn

|Data Science Tools|
|--------|
|Python|
|R|
|Git|
|SQL|

# Arithmetic Expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python:

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Aparna Joseph